# 第2章: UNIXコマンドの基礎

[hightemp.txt](http://www.cl.ecei.tohoku.ac.jp/nlp100/data/hightemp.txt)は，日本の最高気温の記録を「都道府県」「地点」「℃」「日」のタブ区切り形式で格納したファイルである．以下の処理を行うプログラムを作成し，[hightemp.txt](http://www.cl.ecei.tohoku.ac.jp/nlp100/data/hightemp.txt)を入力ファイルとして実行せよ．さらに，同様の処理をUNIXコマンドでも実行し，プログラムの実行結果を確認せよ．

ターミナルで実行

```
wget　http://www.cl.ecei.tohoku.ac.jp/nlp100/data/hightemp.txt
```

In [1]:
%%bash
wget http://www.cl.ecei.tohoku.ac.jp/nlp100/data/hightemp.txt

--2017-10-26 19:30:33--  http://www.cl.ecei.tohoku.ac.jp/nlp100/data/hightemp.txt
Resolving www.cl.ecei.tohoku.ac.jp... 130.34.192.83
Connecting to www.cl.ecei.tohoku.ac.jp|130.34.192.83|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 813 [text/plain]
Saving to: 'hightemp.txt'

     0K                                                       100% 35.2M=0s

2017-10-26 19:30:34 (35.2 MB/s) - 'hightemp.txt' saved [813/813]

In [2]:
ls

Knock1.ipynb   knock_01.py    knock_05.py    knock_09.py    knock_11.py
Knock2.ipynb   knock_02.py    knock_06.py    knock_10.bash
hightemp.txt   knock_03.py    knock_07.py    knock_10.py
knock_00.py    knock_04.py    knock_08.py    knock_11.bash

## 10. 行数のカウント

行数をカウントせよ．確認にはwcコマンドを用いよ．

### python

In [3]:
f10 = open("hightemp.txt")
lines10 = f10.readlines()
f10.close()

print(len(lines10))

24

#### qiitaの答え
```
# coding: utf-8

fname = 'hightemp.txt'
count = 0
with open(fname) as data_file:
    for line in data_file:
        count += 1
print(count)
```

### UNIX

In [4]:
man wc

In [5]:
%%bash
wc -l hightemp.txt

      24 hightemp.txt

#### qiitaの答え
```
#!/bin/sh

wc --line hightemp.txt
```

## 11. タブをスペースに置換

タブ1文字につきスペース1文字に置換せよ．確認にはsedコマンド，trコマンド，もしくはexpandコマンドを用いよ．

### python

In [76]:
f11 = open("hightemp.txt")
lines11 = f11.readlines()
f11.close()

for line in lines11:
    print(line.replace("\t", " ").strip())

高知県 江川崎 41 2013-08-12
埼玉県 熊谷 40.9 2007-08-16
岐阜県 多治見 40.9 2007-08-16
山形県 山形 40.8 1933-07-25
山梨県 甲府 40.7 2013-08-10
和歌山県 かつらぎ 40.6 1994-08-08
静岡県 天竜 40.6 1994-08-04
山梨県 勝沼 40.5 2013-08-10
埼玉県 越谷 40.4 2007-08-16
群馬県 館林 40.3 2007-08-16
群馬県 上里見 40.3 1998-07-04
愛知県 愛西 40.3 1994-08-05
千葉県 牛久 40.2 2004-07-20
静岡県 佐久間 40.2 2001-07-24
愛媛県 宇和島 40.2 1927-07-22
山形県 酒田 40.1 1978-08-03
岐阜県 美濃 40 2007-08-16
群馬県 前橋 40 2001-07-24
千葉県 茂原 39.9 2013-08-11
埼玉県 鳩山 39.9 1997-07-05
大阪府 豊中 39.9 1994-08-08
山梨県 大月 39.9 1990-07-19
山形県 鶴岡 39.9 1978-08-03
愛知県 名古屋 39.9 1942-08-02

#### qiitaの答え
```
# coding: utf-8

fname = 'hightemp.txt'
with open(fname) as data_file:
    for line in data_file:
        print(line.replace('\t', ' '), end='')

```

### UNIX

In [11]:
%%bash
sed 's/\t/ /g' hightemp.txt

高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10
和歌山県	かつらぎ	40.6	1994-08-08
静岡県	天竜	40.6	1994-08-04
山梨県	勝沼	40.5	2013-08-10
埼玉県	越谷	40.4	2007-08-16
群馬県	館林	40.3	2007-08-16
群馬県	上里見	40.3	1998-07-04
愛知県	愛西	40.3	1994-08-05
千葉県	牛久	40.2	2004-07-20
静岡県	佐久間	40.2	2001-07-24
愛媛県	宇和島	40.2	1927-07-22
山形県	酒田	40.1	1978-08-03
岐阜県	美濃	40	2007-08-16
群馬県	前橋	40	2001-07-24
千葉県	茂原	39.9	2013-08-11
埼玉県	鳩山	39.9	1997-07-05
大阪府	豊中	39.9	1994-08-08
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02

#### qiitaの答え
```
#!/bin/sh

# sedのsコマンド： s/検索パターン/置換文字列/g（すべて置換）
sed 's/\t/ /g' hightemp.txt
```
###### もしくは
```
#!/bin/sh

expand -t 1 hightemp.txt
```

## 12. 1列目をcol1.txtに，2列目をcol2.txtに保存

各行の1列目だけを抜き出したものをcol1.txtに，2列目だけを抜き出したものをcol2.txtとしてファイルに保存せよ．確認にはcutコマンドを用いよ．

### python

In [17]:
f12a = open("hightemp.txt")
f12b = open("col1.txt", "wt")
f12c = open("col2.txt", "wt")

for line in f12a:
    itemlist12 = line.split("\t")
    f12b.write(itemlist12[0] + "\n")
    f12c.write(itemlist12[1] + "\n")

f12a.close()
f12b.close()
f12c.close()

In [22]:
%%bash
less col1.txt
less col2.txt

高知県
埼玉県
岐阜県
山形県
山梨県
和歌山県
静岡県
山梨県
埼玉県
群馬県
群馬県
愛知県
千葉県
静岡県
愛媛県
山形県
岐阜県
群馬県
千葉県
埼玉県
大阪府
山梨県
山形県
愛知県
江川崎
熊谷
多治見
山形
甲府
かつらぎ
天竜
勝沼
越谷
館林
上里見
愛西
牛久
佐久間
宇和島
酒田
美濃
前橋
茂原
鳩山
豊中
大月
鶴岡
名古屋

#### qiitaの答え
```
# coding: utf-8

fname = 'hightemp.txt'
with open(fname) as data_file, \
        open('col1.txt', mode='w') as col1_file, \
        open('col2.txt', mode='w') as col2_file:
    for line in data_file:
        cols = line.split('\t')
        col1_file.write(cols[0] + '\n')
        col2_file.write(cols[1] + '\n')
```

### UNIX

In [28]:
%%bash
cut -f 1 hightemp.txt
cut -f 2 hightemp.txt

高知県
埼玉県
岐阜県
山形県
山梨県
和歌山県
静岡県
山梨県
埼玉県
群馬県
群馬県
愛知県
千葉県
静岡県
愛媛県
山形県
岐阜県
群馬県
千葉県
埼玉県
大阪府
山梨県
山形県
愛知県
江川崎
熊谷
多治見
山形
甲府
かつらぎ
天竜
勝沼
越谷
館林
上里見
愛西
牛久
佐久間
宇和島
酒田
美濃
前橋
茂原
鳩山
豊中
大月
鶴岡
名古屋

#### qiitaの答え
```
#!/bin/sh

# col1の抽出と比較
cut --fields=1 hightemp.txt > col1_test.txt
diff --report-identical-files col1.txt col1_test.txt

# col2の抽出と比較
cut --fields=2 hightemp.txt > col2_test.txt
diff --report-identical-files col2.txt col2_test.txt
```

In [29]:
%%bash
rm col*.txt

In [42]:
%%bash
cut -f 1 hightemp.txt > col1.txt
cut -f 2 hightemp.txt > col2.txt
less col1.txt
less col2.txt

高知県
埼玉県
岐阜県
山形県
山梨県
和歌山県
静岡県
山梨県
埼玉県
群馬県
群馬県
愛知県
千葉県
静岡県
愛媛県
山形県
岐阜県
群馬県
千葉県
埼玉県
大阪府
山梨県
山形県
愛知県
江川崎
熊谷
多治見
山形
甲府
かつらぎ
天竜
勝沼
越谷
館林
上里見
愛西
牛久
佐久間
宇和島
酒田
美濃
前橋
茂原
鳩山
豊中
大月
鶴岡
名古屋

## 13. col1.txtとcol2.txtをマージ

12で作ったcol1.txtとcol2.txtを結合し，元のファイルの1列目と2列目をタブ区切りで並べたテキストファイルを作成せよ．確認にはpasteコマンドを用いよ．

### python

In [49]:
with open("col1.txt") as datafile13a,\
        open("col2.txt") as datafile13b,\
        open("col1and2.txt", "wt") as col1and2:
    for (line_a, line_b) in zip(datafile13a, datafile13b):
        col1and2.write(line_a.strip() + "\t" + line_b.strip() + "\n")

In [50]:
%%bash
less col1and2.txt

高知県	江川崎
埼玉県	熊谷
岐阜県	多治見
山形県	山形
山梨県	甲府
和歌山県	かつらぎ
静岡県	天竜
山梨県	勝沼
埼玉県	越谷
群馬県	館林
群馬県	上里見
愛知県	愛西
千葉県	牛久
静岡県	佐久間
愛媛県	宇和島
山形県	酒田
岐阜県	美濃
群馬県	前橋
千葉県	茂原
埼玉県	鳩山
大阪府	豊中
山梨県	大月
山形県	鶴岡
愛知県	名古屋

#### qiitaの答え
```
# coding: utf-8

with open('col1.txt') as col1_file, \
        open('col2.txt') as col2_file, \
        open('merge.txt', mode='w') as out_file:

    for col1_line, col2_line in zip(col1_file, col2_file):
        out_file.write(col1_line.rstrip() + '\t' + col2_line.rstrip() + '\n')
```

### UNIX

In [51]:
%%bash
paste col1.txt col2.txt > col1and2_test.txt
diff --report-identical-files col1and2.txt col1and2_test.txt

Files col1and2.txt and col1and2_test.txt are identical

#### qiitaの答え
```
#!/bin/sh

# マージ
paste col1.txt col2.txt > merge_test.txt

# 比較
diff --report-identical-files merge.txt merge_test.txt
```

## 14. 先頭からN行を出力

自然数Nをコマンドライン引数などの手段で受け取り，入力のうち先頭のN行だけを表示せよ．確認にはheadコマンドを用いよ．

### python

In [57]:
#import sys

#N14 = sys.argv[1]
N14 = 8

with open("hightemp.txt") as datafile:
    for i in range(N14):
        print(datafile.readline().strip())

高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10
和歌山県	かつらぎ	40.6	1994-08-08
静岡県	天竜	40.6	1994-08-04
山梨県	勝沼	40.5	2013-08-10

#### qiitaの答え
```
# coding: utf-8

fname = 'hightemp.txt'
n = int(input('N--> '))

with open(fname) as data_file:
    for i, line in enumerate(data_file):
        if i >= n:
            break
        print(line.rstrip())
```

### UNIX

In [55]:
%%bash
man head

HEAD(1)                   BSD General Commands Manual                  HEAD(1)

NNAAMMEE
     hheeaadd -- display first lines of a file

SSYYNNOOPPSSIISS
     hheeaadd [--nn _c_o_u_n_t | --cc _b_y_t_e_s] [_f_i_l_e _._._.]

DDEESSCCRRIIPPTTIIOONN
     This filter displays the first _c_o_u_n_t lines or _b_y_t_e_s of each of the speci-
     fied files, or of the standard input if no files are specified.  If _c_o_u_n_t
     is omitted it defaults to 10.

     If more than a single file is specified, each file is preceded by a
     header consisting of the string ``==> XXX <=='' where ``XXX'' is the name
     of the file.

EEXXIITT SSTTAATTUUSS
     The hheeaadd utility exits 0 on success, and >0 if an error occurs.

SSEEEE AALLSSOO
     tail(1)

HHIISSTTOORRYY
     The hheeaadd command appeared in PWB UNIX.

BSD                              June 6, 1993                              BSD

In [56]:
%%bash
head -n 8 hightemp.txt

高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10
和歌山県	かつらぎ	40.6	1994-08-08
静岡県	天竜	40.6	1994-08-04
山梨県	勝沼	40.5	2013-08-10

#### qiitaの答え
```
#!/bin/sh

# Nを入力
echo -n "N--> "
read n

# 切り出し
head --lines=$n hightemp.txt
```

## 15. 末尾のN行を出力

自然数Nをコマンドライン引数などの手段で受け取り，入力のうち末尾のN行だけを表示せよ．確認にはtailコマンドを用いよ．

### python

In [74]:
#import sys
# N15 = sys.argv[1]

N15 = 8

with open("hightemp.txt") as datafile:
    lines = datafile.readlines()
    for line in lines[len(lines)-N15:len(lines)]:
        print(line.strip())

岐阜県	美濃	40	2007-08-16
群馬県	前橋	40	2001-07-24
千葉県	茂原	39.9	2013-08-11
埼玉県	鳩山	39.9	1997-07-05
大阪府	豊中	39.9	1994-08-08
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02

#### qiitaの答え
```
# coding: utf-8

fname = 'hightemp.txt'
n = int(input('N--> '))

if n > 0:
    with open(fname) as data_file:
        lines = data_file.readlines()

    for line in lines[-n:]:
        print(line.rstrip())
```

### UNIX

In [73]:
%%bash
tail -n 8 hightemp.txt

岐阜県	美濃	40	2007-08-16
群馬県	前橋	40	2001-07-24
千葉県	茂原	39.9	2013-08-11
埼玉県	鳩山	39.9	1997-07-05
大阪府	豊中	39.9	1994-08-08
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02

#### qiitaの答え
```
#!/bin/sh

# Nを入力
echo -n "N--> "
read n

# 切り出し
tail --lines=$n hightemp.txt
```

## 16. ファイルをN分割する

自然数Nをコマンドライン引数などの手段で受け取り，入力のファイルを行単位でN分割せよ．同様の処理をsplitコマンドで実現せよ．

### python

In [109]:
#import sys
# N16 = sys.argv[1]
import math

N16 = 5

with open("hightemp.txt") as datafile:
    lines = datafile.readlines()
    row_num = len(lines)
    last_index = 0
    for i in range(N16):
        part_length = math.ceil(row_num / (N16 - i) )
        row_num -= part_length
        file_name = "part" + str(i+1) + ".txt"
        with open(file_name, "wt") as output:
            print(i, " part length is ", part_length)
            for j in range(part_length):
                if (last_index+j < len(lines)):
                    output.write(lines[last_index+j])
            last_index += part_length

0  part length is  5
1  part length is  5
2  part length is  5
3  part length is  5
4  part length is  4

In [110]:
%%bash
less part1.txt

高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10

In [111]:
%%bash
less part2.txt

和歌山県	かつらぎ	40.6	1994-08-08
静岡県	天竜	40.6	1994-08-04
山梨県	勝沼	40.5	2013-08-10
埼玉県	越谷	40.4	2007-08-16
群馬県	館林	40.3	2007-08-16

In [112]:
%%bash
less part3.txt

群馬県	上里見	40.3	1998-07-04
愛知県	愛西	40.3	1994-08-05
千葉県	牛久	40.2	2004-07-20
静岡県	佐久間	40.2	2001-07-24
愛媛県	宇和島	40.2	1927-07-22

In [113]:
%%bash
less part4.txt

山形県	酒田	40.1	1978-08-03
岐阜県	美濃	40	2007-08-16
群馬県	前橋	40	2001-07-24
千葉県	茂原	39.9	2013-08-11
埼玉県	鳩山	39.9	1997-07-05

In [114]:
%%bash
less part5.txt

大阪府	豊中	39.9	1994-08-08
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02

#### qiitaの答え
```
# coding: utf-8
import math

fname = 'hightemp.txt'
n = int(input('N--> '))

with open(fname) as data_file:
    lines = data_file.readlines()

count = len(lines)
unit = math.ceil(count / n)  # 1ファイル当たりの行数

for i, offset in enumerate(range(0, count, unit), 1):
    with open('child_{:02d}.txt'.format(i), mode='w') as out_file:
        for line in lines[offset:offset + unit]:
            out_file.write(line)
```

### UNIX

In [115]:
%%bash
split -l 5 hightemp.txt part_test_

In [121]:
%%bash
less part_test_ae

大阪府	豊中	39.9	1994-08-08
山梨県	大月	39.9	1990-07-19
山形県	鶴岡	39.9	1978-08-03
愛知県	名古屋	39.9	1942-08-02

#### qiitaの答え
```
#!/bin/sh

# Nを入力
echo -n "N--> "
read n

# 行数算出　wcは行数とファイル名を出力するのでcutで行数のみ切り出し
count=`wc --line hightemp.txt | cut --fields=1 --delimiter=" "`

# 1分割当たりの行数算出　余りがある場合は行数を+1
unit=`expr $count / $n`
remainder=`expr $count % $n`
if [ $remainder -gt 0 ]; then
    unit=`expr $unit + 1`
fi

# 分割
split --lines=$unit --numeric-suffixes=1 --additional-suffix=.txt hightemp.txt child_test_

# 検証
for i in `seq 1 $n`
do
    fname=`printf child_%02d.txt $i`
    fname_test=`printf child_test_%02d.txt $i`
    diff --report-identical-files $fname $fname_test
done
```

## 17. １列目の文字列の異なり

1列目の文字列の種類（異なる文字列の集合）を求めよ．確認にはsort, uniqコマンドを用いよ．

### python

In [125]:
with open("hightemp.txt") as datafile:
    firstwords = []
    for line in datafile:
        word = line.split()[0].strip()
        if word in firstwords:
            continue
        firstwords.append(word)
    print(firstwords)

['高知県', '埼玉県', '岐阜県', '山形県', '山梨県', '和歌山県', '静岡県', '群馬県', '愛知県', '千葉県', '愛媛県', '大阪府']

#### qiitaの答え
```
# coding: utf-8

fname = 'hightemp.txt'
with open(fname) as data_file:

    set_ken = set()
    for line in data_file:
        cols = line.split('\t')
        set_ken.add(cols[0])

for n in set_ken:
    print(n)
```

### UNIX

In [126]:
%%bash
cut -f 1 hightemp.txt | sort | uniq

千葉県
埼玉県
大阪府
山形県
山梨県
岐阜県
愛媛県
愛知県
群馬県
静岡県
高知県
和歌山県

#### qiitaの答え
```
#!/bin/sh

# 先頭カラムを切り出し、ソート、重複除去
cut --fields=1 hightemp.txt | sort | uniq > result_test.txt

# Pythonのプログラムで実行、diffで比較するためにソート
python main.py | sort > result.txt

# 結果の確認
diff --report-identical-files result.txt result_test.txt
```

## 18. 各行を3コラム目の数値の降順にソート

各行を3コラム目の数値の逆順で整列せよ（注意: 各行の内容は変更せずに並び替えよ）．確認にはsortコマンドを用いよ（この問題はコマンドで実行した時の結果と合わなくてもよい）．

### python

In [139]:
with open("hightemp.txt") as datafile:
    lines = datafile.readlines()
    lines.sort(key=lambda x: float(x.split()[2].strip()))
    lines.reverse()
    for line in lines:
        print(line.rstrip())

高知県	江川崎	41	2013-08-12
岐阜県	多治見	40.9	2007-08-16
埼玉県	熊谷	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10
静岡県	天竜	40.6	1994-08-04
和歌山県	かつらぎ	40.6	1994-08-08
山梨県	勝沼	40.5	2013-08-10
埼玉県	越谷	40.4	2007-08-16
愛知県	愛西	40.3	1994-08-05
群馬県	上里見	40.3	1998-07-04
群馬県	館林	40.3	2007-08-16
愛媛県	宇和島	40.2	1927-07-22
静岡県	佐久間	40.2	2001-07-24
千葉県	牛久	40.2	2004-07-20
山形県	酒田	40.1	1978-08-03
群馬県	前橋	40	2001-07-24
岐阜県	美濃	40	2007-08-16
愛知県	名古屋	39.9	1942-08-02
山形県	鶴岡	39.9	1978-08-03
山梨県	大月	39.9	1990-07-19
大阪府	豊中	39.9	1994-08-08
埼玉県	鳩山	39.9	1997-07-05
千葉県	茂原	39.9	2013-08-11

#### qiitaの答え
```
# coding: utf-8

fname = 'hightemp.txt'
lines = open(fname).readlines()
lines.sort(key=lambda line: float(line.split('\t')[2]), reverse=True)

for line in lines:
    print(line, end='')
```

### UNIX

In [144]:
%%bash
sort -k3nr  hightemp.txt

高知県	江川崎	41	2013-08-12
埼玉県	熊谷	40.9	2007-08-16
岐阜県	多治見	40.9	2007-08-16
山形県	山形	40.8	1933-07-25
山梨県	甲府	40.7	2013-08-10
静岡県	天竜	40.6	1994-08-04
和歌山県	かつらぎ	40.6	1994-08-08
山梨県	勝沼	40.5	2013-08-10
埼玉県	越谷	40.4	2007-08-16
愛知県	愛西	40.3	1994-08-05
群馬県	館林	40.3	2007-08-16
群馬県	上里見	40.3	1998-07-04
千葉県	牛久	40.2	2004-07-20
愛媛県	宇和島	40.2	1927-07-22
静岡県	佐久間	40.2	2001-07-24
山形県	酒田	40.1	1978-08-03
群馬県	前橋	40	2001-07-24
岐阜県	美濃	40	2007-08-16
山形県	鶴岡	39.9	1978-08-03
山梨県	大月	39.9	1990-07-19
大阪府	豊中	39.9	1994-08-08
埼玉県	鳩山	39.9	1997-07-05
千葉県	茂原	39.9	2013-08-11
愛知県	名古屋	39.9	1942-08-02

#### qiitaの答え
```
#!/bin/sh

# 3カラム目を数値として逆順ソート
sort hightemp.txt --key=3,3 --numeric-sort --reverse > result_test.txt

# Pythonのプログラムで実行
python main.py > result.txt

# 結果の確認
diff --report-identical-files result.txt result_test.txt
```

## 19. 各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる

各行の1列目の文字列の出現頻度を求め，その高い順に並べて表示せよ．確認にはcut, uniq, sortコマンドを用いよ．

### python

In [145]:
import collections
with open("hightemp.txt") as datafile:
    firstwords = [line.split()[0].strip() for line in datafile]
    count_dict = collections.Counter(firstwords)
    print(count_dict)

Counter({'埼玉県': 3, '山形県': 3, '山梨県': 3, '群馬県': 3, '岐阜県': 2, '静岡県': 2, '愛知県': 2, '千葉県': 2, '高知県': 1, '和歌山県': 1, '愛媛県': 1, '大阪府': 1})

#### qiitaの答え
```
# coding: utf-8
from itertools import groupby
fname = 'hightemp.txt'

# 都道府県名の読み込み
lines = open(fname).readlines()
kens = [line.split('\t')[0] for line in lines]

# 都道府県で集計し、(都道府県, 出現頻度)のリスト作成
kens.sort()    # goupbyはソート済みが前提
result = [(ken, len(list(group))) for ken, group in groupby(kens)]

# 出現頻度でソート
result.sort(key=lambda ken: ken[1], reverse=True)

# 結果出力
for ken in result:
    print('{ken}({count})'.format(ken=ken[0], count=ken[1]))
```

### UNIX

In [150]:
%%bash
cut -f 1 hightemp.txt | sort | uniq -c | sort -k1nr

   3 埼玉県
   3 山形県
   3 山梨県
   3 群馬県
   2 千葉県
   2 岐阜県
   2 愛知県
   2 静岡県
   1 大阪府
   1 愛媛県
   1 高知県
   1 和歌山県

#### qiitaの答え
```
#!/bin/sh

# 1カラム目でソートし、重複除去して件数付きで出力、その結果をソート
cut --fields=1 hightemp.txt | sort | uniq --count | sort --reverse
```